a{
    justify-content: right;
    font-size: smaller;
    align-items: center;
    border: 0cm;
}
.logoimg{
    max-height: 30px;
}
span{
    justify-content: left;
}
.header{
    display: flex;
    top: 18px;
    left: 10px;
    justify-items: flex-end;
    font-size: smaller;
    gap: 15px
}
.banner{
    width: 100%;
}
.bannerimg{
    height: 400px;
    width: inherit;
    display: flex;
    object-fit: cover;
}