section{
    justify-content: right;
}
span{
    justify-content: left;
}
.header{
    display: flex;
    top: 18px;
    left: 10px;
    justify-items: flex-end;
    font-size: smaller;
    gap: 15px
}
.banner{
    width: 100%;
}
img{
    height: 400px;
    width: inherit;
    display: flex;
}