<header>
    <div class="header">
        <span>logo</span>
        <section *ngFor="let link of links">{{link}}</section>
    </div>
    <div class="banner">
        <img src="../../assets/images/luca-bravo-O453M2Liufs-unsplash.jpg">
    </div>
    <mat-toolbar>
        Travel Agency
    </mat-toolbar>
    <div class="content">
        <mat-card>
            <mat-card-header>
                <mat-card-title>location</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../assets/images/anthony-delanoix-Q0-fOL2nqZc-unsplash.jpg">
            <mat-card-content>
                <p>
                    Come explore Paris in a variety of tours
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>Learn More</button>
            </mat-card-actions>
        </mat-card>
    </div>
</header>
