
<form class="form-container" 
[formGroup]="groupForm"
(ngSubmit)="onSubmit(groupForm.value)"
name="registerForm"
class="box"
id="registerForm"
>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Create your own tour</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="full-width">
                        <input matinput="" placeholder="Group Name" regFormControl="profileForm?.groupName">
                    </mat-form-field>
                </div>
                <div class="example-container">
                    <mat-form-field appearance="fill">
                        <mat-label>Select me</mat-label>
                        <mat-select>
                            <mat-option value="option">Option1</mat-option>
                            <mat-option value="option">Option2</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <mat-form-field class="full-width">
                        <textarea matinput="" placeholder="Sponsor Name"></textarea>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field class="full-width">
                        <textarea matinput="" placeholder="Phone Number" regFormControl="phone" required></textarea>
                    </mat-form-field>
                </div>
                <div class="container">
                    <mat-form-field class="full-width">
                        <textarea matinput="" placeholder="email" regFormControl="email" required></textarea>
                        <mat-error *ngIf="groupForm.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button="" color="primary">Submit</button>
        </mat-card-actions>
    </mat-card>
</form>