<form
    [formGroup]="groupForm"
    (ngSubmit)="onSubmit()"
    name="registerForm"
    class="box"
    id="registerForm"
>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Create your own tour</mat-card-title>
        </mat-card-header>
        <label for="groupName" class="block labelTop">Group Name</label>
        <input
            type="text"
            id="groupName"
            name="groupName"
            autocomplete="groupName"
            formControlName="groupName"
            tabindex="1"
            placeholder="Enter your group name"
        />
        <p *ngIf="!groupForm.controls['groupName'].valid && groupForm.controls['groupName'].touched" class="formMessage">
            Please enter your group name. Make sure it describes a theme
        </p>
        <label for="destination" class="block labelTop">Destination</label>
        <select
            name="destination"
            id="destination"
            size="1"
            formControlName="destination"
            tabindex="2"
        >
            <option
                *ngFor="let destination of destinations; let i = index;"
                value="{{ destination.OrganizationName }}"
            >
            {{ destination.OrganizationName }}
            </option>
        </select>
        <p
          *ngIf="
            !groupForm.controls['destination'].valid &&
            groupForm.controls['destination'].touched"
            class="formMessage"
        >
        Please pick a destination
        </p>
        <label for="sponsorName" class="block labelTop">Sponsor Name</label>
        <input
            type="text"
            id="sponsorName"
            name="sponsorName"
            autocomplete="sponsorName"
            formControlName="sponsorName"
            tabindex="3"
            placeholder="Enter your sponsor name"
        />
        <p *ngIf="!groupForm.controls['sponsorName'].valid && groupForm.controls['sponsorName'].touched" class="formMessage">
            Please enter your group name. Make sure it describes a theme
        </p>
        <label for="email" class="block labelTop">Sponsor Email</label>
        <input
            type="email"
            name="email"
            id="email"
            formControlName="email"
            placeholder="Enter your email address"
            minlength="5"
            tabindex="4"
            autocomplete="email"
        />
        <p *ngIf="!groupForm.controls['email'].valid && groupForm.controls['email'].touched" class="formMessage">
            Please enter a valid email address
        </p>
        <label for="phone" class="block labelTop">Sponsor Phone Number</label>
        <input
            type="text"
            id="phone"
            name="phone"
            autocomplete="phone"
            formControlName="phone"
            tabindex="5"
            placeholder="Enter your phone number"
        />
        <p *ngIf="!groupForm.controls['phone'].valid && groupForm.controls['phone'].touched" class="formMessage">
            Please enter your phone
        </p>
        <label for="maxGroupSize" class="block labelTop">Max Group Size</label>
        <select
            name="maxGroupSize"
            id="maxGroupSize"
            size="1"
            formControlName="maxGroupSize"
            tabindex="6"
            
        >
            <option *ngFor="let number of maxGroupSize">
            {{ number }}
            </option>
        </select>
        <p
          *ngIf="
            !groupForm.controls['maxGroupSize'].valid &&
            groupForm.controls['maxGroupSize'].touched"
            class="formMessage"
        >
        Please pick a max group size
        </p>
        <input
            type="submit"
            tabindex="6"
            id="register-user"
            class="fpButton box-extra"
        />
    </mat-card>
</form>