<mat-toolbar>
    Cool Tour Travel Agency
    <h1>Experience the world in a different way with Cool Tour </h1>
</mat-toolbar>
<div class="content">
    <mat-card>
        <mat-card-header>
            <mat-card-title>location</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../assets/images/anthony-delanoix-Q0-fOL2nqZc-unsplash.jpg">
        <mat-card-content>
            <p>
                Come explore Paris in a variety of tours
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>Learn More</button>
        </mat-card-actions>
    </mat-card>
</div>
