.banner{
    width: 100%;
}
.bannerimg{
    height: 400px;
    width: inherit;
    display: flex;
    object-fit: cover;
}
.content {
    padding: 16px;
    display: inline-block;
}
.content > mat-card {
    width: 200px;
}
mat-toolbar{
    flex-direction: column;
}
h1{
    font-size: small;
}
mat-card-header{
    justify-content: center;
}
