<div class="banner">
    <img class="bannerimg" src="../../assets/images/luca-bravo-O453M2Liufs-unsplash.jpg">
</div>
<mat-toolbar>
    Cool Tour Travel Agency
    <h1>Experience the world in a different way with Cool Tour </h1>
</mat-toolbar>
<div class="content" *ngFor="let item of destinations; let i= index">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{item.OrganizationName}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src={{item.Image}} alt={{item.ImageAlt}}>
        <mat-card-content>
            <p>
                {{item.Description}}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button [routerLink]="['/group']">Learn More</button>
        </mat-card-actions>
    </mat-card>
</div>
