.banner{
    width: 100%;
}
.bannerimg{
    height: 400px;
    width: inherit;
    display: flex;
    object-fit: cover;
}
.content {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 3%;
    margin-left: 10%;
}
.content > mat-card {
    width: 200px;
}
mat-toolbar{
    flex-direction: column;
}
h1{
    font-size: small;
}
mat-card-header{
    justify-content: center;
}
