<form
    [formGroup]="regForm"
    (ngSubmit)="onSubmit(regForm.value)"
    name="registerForm"
    class="box"
    id="registerForm"
>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Sign Up!</mat-card-title>
        </mat-card-header>
        <label for="firstname" class="block labelTop">First Name</label>
        <input
            type="text"
            id="name"
            name="name"
            autocomplete="name"
            formControlName="name"
            tabindex="1"
            placeholder="Enter your name"
        />
        <p *ngIf="!regForm.controls['name'].valid && regForm.controls['name'].touched" class="formMessage">
            Please enter your name
        </p>
        <label for="email" class="block labelTop">Email</label>
        <input
            type="email"
            name="email"
            id="email"
            formControlName="email"
            placeholder="Enter your email address"
            minlength="5"
            tabindex="2"
            autocomplete="email"
        />
        <p *ngIf="!regForm.controls['email'].valid && regForm.controls['email'].touched" class="formMessage">
            Please enter a valid email address
        </p>
        <label for="phone" class="block labelTop">Phone Number</label>
        <input
            type="text"
            id="phone"
            name="phone"
            autocomplete="phone"
            formControlName="phone"
            tabindex="3"
            placeholder="Enter your phone number"
        />
        <p *ngIf="!regForm.controls['phone'].valid && regForm.controls['phone'].touched" class="formMessage">
            Please enter your phone
        </p>
        <label for="destination" class="block labelTop">Destination</label>
        <select
            name="destination"
            id="destination"
            size="1"
            formControlName="destination"
            tabindex="4"
        >
            <option
                *ngFor="let destination of destinations; let i = index"
                value="{{ destination.OrganizationName }}"
            >
            {{ this.destinations[i].OrganizationName }}
            </option>
        </select>
        <p
          *ngIf="
            !regForm.controls['destination'].valid &&
            regForm.controls['destination'].touched"
            class="formMessage"
        >
        Please pick a destination
        </p>
        <label for="group" class="block labelTop">Group Tour</label>
        <select
            name="group"
            id="group"
            size="1"
            formControlName="group"
            tabindex="5"
        >
            <option
                *ngFor="let group of groups; let i = index"
                value="{{ group.GroupName }}"
            >
            {{ this.groups[i].GroupName }}
            </option>
        </select>
        <p
          *ngIf="
            !regForm.controls['group'].valid &&
            regForm.controls['group'].touched"
            class="formMessage"
        >
        Please pick a tour
        </p>
        <input
            type="submit"
            tabindex="6"
            id="register-user"
            class="fpButton box-extra"
        />
    </mat-card>
</form>